# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Spark local files
spark-warehouse/
derby.log
metastore_db/

# Logs
*.log
